/*
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

$footer-height: 100px;

html, body {
  height: 100%
}

#full-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer-height);
  padding: 0 0 $footer-height;
}

#footer {
  height: $footer-height;
  background-color: #fafafa;
  box-shadow: inset -13px 40px 15px -34px #DDD;

  p {
    color: #888;
    margin-top: 20px;
  }
}

#full-wrap > .container {
  padding-bottom: 50px;
}

td.thin, th.thin {
    width: 1%;
    white-space: nowrap;
}

.table-row-emph {
    font-weight: bold;
}

.footer-links {
    text-align: center;

    a {
        color: #AAA;
        font-size: 10px;
    }
}

tr[data-link] {
  cursor: pointer;
}
