/*
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

$footer-height: 130px;

html, body {
  height: 100%
}

#full-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer-height);
  padding: 0 0 $footer-height;
}

#footer {
  height: $footer-height;
  background-color: #fafafa;
  box-shadow: inset -13px 40px 15px -34px #DDD;

  p {
    color: #888;
    margin-top: 20px;

    small {
        font-size: 80%;
    }
  }
}

#full-wrap > .container {
  padding-bottom: 50px;
}



.table-row-emph {
    font-weight: bold;
}

.footer-links {
    text-align: center;
    font-size: 10px;

    a {
        color: #AAA;
    }
}

tr[data-link] {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.navbar-no-margin {
    margin-bottom: 0px
}

.alert {
    margin-bottom: 9px;
    margin-top: 9px;
}

table {

    td.thin, th.thin {
        width: 1%;
        white-space: nowrap;
    }

    td {
        a {
            color: #777;
            &:hover {
                color: #777;
            }
            &:visited {
                color: #777;
            }
        }
    }
}
