- title 'Supported Regions'

.page-header
  %h1 Supported Regions

.row
  .col-md-6.col-md-offset-3
    %h4 Select your region:
    %table.table.table-bordered.table-striped.table-hover.table-condensed
      %thead
        %tr
          %th Region
          %th Load Shedding?
      %tbody
        - unless @regions.empty?
          - @regions.each do |region|
            %tr{data: {link: show_region_path(region)}}
              %td= region.name
              %td
                = region.is_load_shedding ? 'Yes' : 'No'
                - if region.is_load_shedding
                  (
                  = region.active_schedule.name
                  )
        - else
          %tr
            %td.text-center{colspan: 2}
              %h4 No Regions are supported yet :(
