%nav.navbar.navbar-default.navbar-static-top.navbar-no-margin
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: {target: '.navbar-collapse', toggle: 'collapse'} }
        %span.icon-bar
        %span.icon-bar

      %a.navbar-brand{href: '/'}
        %span.glyphicon.glyphicon-off
        Where's my power?

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Schedules', root_path
        %li
          = link_to 'Interactive Map', area_maps_capetown_path

