%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: {target: '.navbar-collapse', toggle: 'collapse'} }
        %span.icon-bar
        %span.icon-bar

      %a.navbar-brand{href: '/'}
        Where's the power?

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Home', root_path

